/*section{
	background-color: red;
	float: left;
	margin: 5px 10px 1px 2px ;
    width: 30%;
    box-sizing: border-box;
    border: 1px solid black;
}*/
h2{
	float:right;
	border: 1px solid black;
	margin-top: 0px;
	/*margin-bottom: 1px;*/
}
p {
 
  width: 90%;
  height: 150px;
 /* margin-top:1px;*/
  margin-right: auto;
  margin-left: auto;
  /*position: relative;*/
  padding-top: 20px;
}
*{
	box-sizing: border-box;
}
.row{
	width:100%;
}
@media(min-width: 992px) { 
	section{
	background-color: red;
	float: left;
	margin: 5px 10px 1px 10px ;
	border: 1px solid black;
    width: 30%;
}
}

@media(min-width: 768px)  and (max-width: 991px) { 
	section{
	background-color: red;
	float: left;
	margin: 5px 10px 1px 2px ;
	border: 1px solid black;
	width: 30%;
    
}
.col-lg-3{
	width:100%;
}


}

@media(max-width: 767px) { 
	section{
	background-color: red;
	float: left;
	margin: 5px 10px 1px 2px ;
	border: 1px solid black;
    width: 100%;
}
}